* {
    margin: 0;
    padding: 0;
  }

  $bp-largest: 75em; //1200px
  $bp-large: 68.75em; //1100px
  $bp-medium: 56.25em; //900px
  $bp-small: 37.5em; //600px
  $bp-smallest: 31.25em; //500px
  
  html {
    font-size: 62.5%;
     @media only screen and (max-width: $bp-large) {
      font-size: 50%;
    }
  }
  
body {
  height: 100vh;                         
  color: var(--color-primary-text);
  font-size: var(--default-Fontsize);
  position: relative;
  font-family: "Tinos", serif;   
  background-color: #2d3436;
}

