:root {
    --color-primary: #00BFA6;
    --color-primary-text:#E0E0E0;
    --color-black: #000000;
    --color-white: #eee;

    --default-Fontsize: 1.6rem;
    --meduim-Fontsize: 2.2rem;
    --large-Fontsize: 4rem;
  }

  
 